.display-button {
  display: inline-flex;
  width: 20%;
  margin: 0 2px 1px 0;
  flex: 1 0 auto;
  color: "white";
  border-radius: 12px;
}

.display-button button {
  background-color: "#FFE4C4";
  border: 0;
  font-size: 0.5rem;
  margin: 0 2px 0 0;
  flex: 1 0 auto;
  padding: 0;
  color: "white";
  border-radius: 12px;
}